{infra_master,[
	{infra_ip_addr,"localhost"},
	{infra_port,5555}
	]}.
{brd_info,[
	{brd_id,"oam_rpi3"},
	{brd_port,6001},
	{worker_port,6002},	
	{connect_tries,2},
	{period,1000},
	{timeout,1000}		
	]}.
{tcp_setup,[
	{server_setup,[binary,{packet,4},{reuseaddr,true},{active,true}]},
	{client_setup,[binary,{packet,4}]}
	]}.
