{w0_gen,[
	{brd_ip_port,"80.216.90.159"},{port,6501},{worker_ip_port,"80.216.90.159"},{port,6502},
	{capbility,[]}
	]}.
{w6_gen,[
	{brd_ip_port,"80.216.90.159"},{port,6621},{worker_ip_port,"80.216.90.159"},{port,6622},
	{capbility,[]}
	]}.
{w3_mem_dbase,[
	{brd_ip_port,"80.216.90.159"},{port,6531},{worker_ip_port,"80.216.90.159"},{port,6532},
	{capbility,[{specific_services,[mem_dbase]}]}
	]}.
{infra_master,[{infra_ip_addr,"80.216.90.159"},{infra_port,5555}]}.
{oam_rpi3,[
	{brd_ip_port,"80.216.90.159"},{port,6001},{worker_ip_port,"80.216.90.159"},{port,6002},
	{capbility,[]}
	]}.
