{{master,"infra_master"},[{brd_ipaddr,"80.216.90.159"},{brd_port,10010}]}.

{{dbase,"infra_dbase"},[{brd_ipaddr,"80.216.90.159"},{brd_port,10000},{dets_config,[type,set]}]}.
{{webb,"webb_server"},[{brd_ipaddr,"80.216.90.159"},{brd_port,20001},{webb_port,20000}]}.


{{worker,"w0"},[{brd_ipaddr,"80.216.90.159"},{brd_port,10501},{worker_port,10502}]}.
{{worker,"w1"},[{brd_ipaddr,"80.216.90.159"},{brd_port,10511},{worker_port,10512}]}.
{{worker,"w2"},[{brd_ipaddr,"80.216.90.159"},{brd_port,10521},{worker_port,10522}]}.

{{deployment,"w0"},[{services,[{"myadd",5}]}]}.
{{deployment,"w1"},[{services,[{"myadd",5}]}]}.
{{deployment,"w2"},[{services,[{"mem_dbase",5},{"myadd",5}]}]}.

{{tcp_setup,client},[{client,[binary,{packet,4}]}]}.
{{tcp_setup,server},[{server,[binary,{packet,4},{reuseaddr,true},{active,true}]}]}.
