{{infra_dbase,node_type},dbase}.
{{infra_dbase,port},10000}.
{{infra_dbase,ip_addr},"80.216.90.159"}.
{{infra_dbase,type},set}.

{{infra_master,node_type},controller}.
{{infra_master,ip_addr},"80.216.90.159"}.
{{infra_master,port},5555}.

{{w0_gen,node_type},worker}.
{{w0_gen,ip_addr},"80.216.90.159"}.
{{w0_gen,port_brd_mgr},6501}.
{{w0_gen,port_worker},6502}.
{{w0_gen,capabilities},[]}.

{{w6_gen,node_type},worker}.
{{w6_gen,ip_addr},"80.216.90.159"}.
{{w6_gen,port_brd_mgr},6621}.
{{w6_gen,port_worker},6622}.
{{w6_gen,capabilities},[]}.

{{w3_gen,node_type},worker}.
{{w3_mem_dbase,ip_addr},"80.216.90.159"}.
{{w3_mem_dbase,port_brd_mgr},6531}.
{{w3_mem_dbase,port_worker},6532}.
{{w3_mem_dbase,capabilities},[mem_dbase]}.

{{tcp_setup,client},[binary,{packet,4}]}.
{{tcp_setup,server},[binary,{packet,4},{reuseaddr,true},{active,true}]}.